#{F:include('template/header.html')}
<form method="post" class="padding">
  <table style="width: 100%">
    <tr>
      <th>{Sys.Item.before}</th>
      <th>{Sys.Item.after}</th>
    </tr>
    <tr>
      <td style="padding: 0; text-align: center"><textarea name="before" rows="30" style="width: 98%">${S.before}</textarea></td>
      <td style="padding: 0; text-align: center"><textarea name="after" rows="30" style="width: 98%">${S.after}</textarea></td>
    </tr>
  </table>
  <div class="padding">
    <input type="submit" value="{Sys.Item.diff}" /> <a href="${P}">{Sys.Item.back}</a>
  </div>
</form>
#{F:include('template/footer.html')}
