#{F:includeV('template/admin/header.html', ['<a href="index.html">' += Sys.Item.adminTitle += '</a>', Sys.Item.hash])}
<style type="text/css">
td {
  font-family: monospace;
  font-size: 11pt;
}
th, td {
  border: 1px solid #e2e2e2;
}
#hash {
  display: table;
  margin: 10px auto;
}
</style>
<form method="post" id="hash">
  <table>
    <tr>
      <th>source</th>
      <td><input type="text" name="text" value="${text = R.firstParameters.text}" /> <input class="button s" type="submit" value="{Sys.Item.run}" /> <input class="button i" type="submit" onclick="this.form.text.value=''" value="{Sys.Item.clear}" /> <a class="button" href="${P}admin">{Sys.Item.back}</a></td>
    </tr>
    <tr>
      <th>MD2</th>
      <td>${f = a -> empty text ? '' : Tool.hash(text, a); f('MD2')}</td>
    </tr>
    <tr>
      <th>MD5</th>
      <td>${f('MD5')}</td>
    </tr>
    <tr>
      <th>SHA-1</th>
      <td>${f('SHA-1')}</td>
    </tr>
    <tr>
      <th>SHA-256</th>
      <td>${f('SHA-256')}</td>
    </tr>
    <tr>
      <th>SHA-384</th>
      <td>${f('SHA-384')}</td>
    </tr>
    <tr>
      <th>SHA-512</th>
      <td>${f('SHA-512')}</td>
    </tr>
    <tr>
      <th>Base64 encode</th>
      <td>${empty text ? '' : Tool.base64Encode(text)}</td>
    </tr>
    <tr>
      <th>Base64 decode</th>
      <td>${empty text ? '' : Tool.base64Decode(text)}</td>
    </tr>
    <tr>
      <th>Base128 encode</th>
      <td>${empty text ? '' : Tool.base128Encode(text)}</td>
    </tr>
    <tr>
      <th>Base128 decode</th>
      <td>${empty text ? '' : Tool.base128Decode(text)}</td>
    </tr>
    <tr>
      <th>URL encode</th>
      <td>${empty text ? '' : Tool.urlEncode(text)}</td>
    </tr>
    <tr>
      <th>URL decode</th>
      <td>${empty text ? '' : Tool.urlDecode(text)}</td>
    </tr>
    <tr>
      <th>HTML escape</th>
      <td>${empty text ? '' : Tool.htmlEscape(text)}</td>
    </tr>
  </table>
</form>
#{F:include('template/admin/footer.html')}
