#{F:includeV('template/simple_header.html', [Sys.Item.login])}
<nav>
  <h2>{Sys.Item.title} &raquo; {Sys.Item.login}</h2>
</nav>
<div style="margin: auto; width: 320px; padding: 10% 0 0 0; text-align: center">
  <div>{Sys.Prompt.login}</div>
  <form method="post" action="${P}login.json" data-ajax="true" class="padding margin-top">
    <div class="padding margin">
      <div class="input">
        <label for="loginId">{Sys.Item.loginId}</label> <input type="text" class="ascii focus" id="loginId" />
      </div>
      <div class="input">
        <label for="password">{Sys.Item.password}</label> <input type="password" class="ascii" id="password" />
      </div>
      <div class="input text-right">
        <input class="button s" type="submit" value="{Sys.Item.login}" /> <input class="button i" type="reset" value="{Sys.Item.reset}" />
      </div>
    </div>
  </form>
  <div class="margin error" data-load="${P}alert"></div>
</div>
#{F:include('template/footer.html')}
