#{F:includeV('template/header.html', empty breadcrumb ? [Sys.Item.adminTitle, Sys.Item.diff] : breadcrumb)}

<style type="text/css">
#diff {
  width: 100%;
  min-width: 966px;
}

#diff textarea {
  width: 98%;
  line-height: normal;
  margin-top: 0;
}

#diff td {
  word-break: break-all;
  border: none;
}

#diff th {
  border: 1px solid #e2e2e2;
  font-weight: normal;
}

#diff tr.header th {
  text-align: center;
  background-color: #ffffff;
}

#diff th, #diff td {
  font-family: monospace;
  font-size: 10pt;
  background-color: #ffffff;
  line-height: normal;
  padding: 1px;
}

#diff tr.equal th, #diff tr.change th, #diff tr.insert th, #diff tr.delete th, #diff tr.skip th {
  text-align: right;
  color: #777777;
  background-color: #f7f7f7;
}

#diff tr.skip th, #diff tr.skip td {
  text-align: center;
  color: #777777;
  background-color: #f7f7f7;
}

#diff tr.change th, #diff tr.change td, td.g {
  background-color: #e2ffe2;
  color: #090;
}

#diff tr.insert th, #diff tr.insert td, td.b {
  background-color: #e2e2ff;
  color: #009;
}

#diff tr.delete th, #diff tr.delete td, td.r {
  background-color: #ffe2e2;
  color: #900;
}

#diff b {
  font-weight: normal;
  background-color: #99ff99;
  color: #009900;
  font-size: inherit;
  line-height: normal;
}

#diff .header th:odd {
  width: 48%;
}

#diff .header th.even {
  width: 2%;
}

#legend {
  margin: 0 5px 0 auto;
}
</style>

<div id="command">
  <form method="post">
    <input class="button s" type="submit" name="${isFull ? 'compact' : 'full'}" value="${isFull ? Sys.Item.compact : Sys.Item.full}" /> <a class="button"
      href="${P}">{Sys.Item.back}</a>
  </form>

  <div>
    <table id="legend">
      <tr>
        <td class="g">{Sys.Item.update}</td>
        <td class="b">{Sys.Item.insert}</td>
        <td class="r">{Sys.Item.delete}</td>
      </tr>
    </table>
  </div>
</div>

<div class="padding">
  <table id="diff">
    <tr class="header">
      <th class="index">{Sys.Item.index}</th>
      <th>${empty before ? Sys.Item.before : before}</th>
      <th class="index">{Sys.Item.index}</th>
      <th>${empty after ? Sys.Item.after : after}</th>
    </tr>
    <!--{F:includeFor('template/diff_tr.html', diffs)}-->
    <tr>
      <th>raw</th>
      <td><textarea rows="10">${S.before}</textarea></td>
      <th>raw</th>
      <td><textarea rows="10">${S.after}</textarea></td>
    </tr>
  </table>
</div>
#{F:include('template/footer.html')}
