<script type="text/javascript">
window.onload = function() {
  document.getElementById('spacer').style.height = document.getElementById('menu').clientHeight; 
}
</script>

<style type="text/css">
body, table, form {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border: 1px solid #e2e2e2;
  table-layout: fixed;
}

table.full {
  width: 100%;
  min-width: 966px;
}

textarea {
  width: 100%;
}
#menu {
  padding: 5px;
  background-color: #ffffee;
  width: 100%;
  position: fixed;
}

.left {
  float: left;
}
.legend {
  margin: 0 10px 0 auto;
}
.legend td {
  padding: 3px;
  border: 1px solid #999;
}

td {
  word-break: break-all;
}

th {
  border: 1px solid #e2e2e2;
  font-weight: normal;
}

tr.header th {
  text-align: center;
  background-color: #eee;
}

th, td {
  font-family: monospace;
  font-size: 10pt;
}

tr.equal th, tr.change th, tr.insert th, tr.delete th, tr.skip th {
  text-align: right;
  color: #999;
  background-color: #eee;
}

tr.skip th, tr.skip td {
  text-align: center;
  color: #999;
  background-color: #eee;
}

tr.change th, tr.change td, td.g {
  background-color: #e2ffe2;
  color: #090;
}

tr.insert th, tr.insert td, td.b {
  background-color: #e2e2ff;
  color: #009;
}

tr.delete th, tr.delete td, td.r {
  background-color: #ffe2e2;
  color: #900;
}

b {
  font-weight: normal;
  background-color: #99ff99;
  color: #009900;
}

.header th:not(.index) {
width: 48%;
}

.header th.index {
  width: 2%;
}
</style>

<div xmlns:j="http://vav.jp/java-web">
<div id="menu">
  <form method="post" class="left">
    <input type="submit" j:render="0" name="full" value="{sys.item.full}" /> <a href="${R.uri}">{sys.item.back}</a>
  </form>

  <table class="legend">
    <tr>
      <td class="g">{sys.item.update}</td>
      <td class="b">{sys.item.insert}</td>
      <td class="r">{sys.item.delete}</td>
    </tr>
  </table>
</div>
<div id="spacer">
</div>
<table class="full">
  <tr class="header">
    <th class="index">{sys.item.index}</th>
    <th>${empty before ? sys.item.before : before}</th>
    <th class="index">{sys.item.index}</th>
    <th>${empty after ? sys.item.after : after}</th>
  </tr>
  <tr class="change" j:render="1">
    <th>1</th>
    <td>before</td>
    <th class="to">1</th>
    <td class="to">after</td>
  </tr>
  <tr>
    <th>raw</th>
    <td><textarea rows="10">${S.before}</textarea></td>
    <th>raw</th>
    <td><textarea rows="10">${S.after}</textarea></td>
  </tr>
</table>
</div>