* {
    font-family: 'メイリオ';
}

body {
    margin: 0;
}

nav {
    background-color: #eeeeff;
    display: table;
    width: 100%;
}

nav span {
    display: table-cell;
}

nav form {
    display: table-cell;
    text-align: right;
}

form {
    display: inline;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 2px;
}

[data-load=alert] {
  color: red;
}