* {
  font-family: 'メイリオ';
}

body {
  margin: 0;
}

nav {
  background-color: #eeeeff;
  display: table;
  width: 100%;
  position: fixed;
}

nav div {
  display: table-cell;
  padding: 5px;
}

nav form {
  display: table-cell;
  padding: 5px;
  text-align: right;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 4px;
}

[data-load=alert] {
  color: red;
}

.padding {
  padding: 5px;
}